{% load static %}
<!DOCTYPE <!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TOURISTS GUIDE</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href='{% static "resources/css/guide.css" %}'>
        <link rel="stylesheet" href='{% static "resources/css/onlinetour.css" %}'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    </head>
    <body>
        <a class="online-btn" href="/"><i class="fa fa-arrow-left"></i></a>
        <div class="container">
            <div class="top-section">
                <img class="fit-picture"  src='{% static "resources/G-images/12.jpg" %}' alt="zoo photo1">
                <audio controls src='{% static "resources/audio1/13.aac"%}'>Your browser does not support the<code>audio</code> element.</audio></pre></h2>
                <h1>The Beautiful Brindavan Gardens - </h1>
                <p>
                    The heritage corridor of Mysore and the old city of Srirangapatna is full of many attractions that give visitors a glimpse of Karnataka’s rich legacy of art and culture. Take a break from the prosaic routine of the city life with a trip to the royal cities of Karnataka.
                     Spread across 60 acres, the beautifully landscaped Brindavan Gardens were completed in 1932 and are one of the places to visit in Mysore.
                </p>
            </div>
            <div class="timeline">
                <div class="line"></div>
                <div class="section">
                    <div class="bead"></div>
                    <div class="content">
                        <img class="fit-picture"  src='{% static "resources/G-images/13.jpg" %}' alt="zoo photo1">
                        <audio controls src='{% static "resources/audio1/19.aac"%}'>Your browser does not support the<code>audio</code> element.</audio>
                        <h2>Plant Sculptures  - </h2>
                        <p>
                            One of the striking features of the Gardens is the works of topiary. The intricately trimmed shrubs take the shape of animals and provide many photo ops for excited visitors, about 2 million of whom visit the gardens every year. Visitors can take walks under the shade of the pergolas, passageways covered by creeper plants and rest under one of the many gazebos that speckle the area.
                        </p>
                    </div>
                </div>
                <div class="section">
                    <div class="bead"></div>
                    <div class="content">
                        <img class="fit-picture"  src='{% static "resources/G-images/14.jpg" %}' alt="zoo photo1">
                        <audio controls src='{% static "resources/audio1/15.aac"%}'>Your browser does not support the<code>audio</code> element.</audio></pre></h2>
                        <h2>Musical Fountains</h2>
                        <p>
                            Musical Fountains
One of the biggest attractions of the Brindavan Garden is the musical fountain, a choreographed play of water bursts synchronised with tunes of songs. Many come to view these fountains at night, where they are displayed in their full glory.
There many popular fountains in the Brindavan Gardens. Some of them are the Cross-channel fountains, the umbrella fountain, the pyramid fountain and the inverted basket fountain.
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
        <script src='{% static "resources/js/timeline.js" %}'></script>
    </body>
</html>