{% load static %}
<!DOCTYPE <!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TOURISTS GUIDE</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href='{% static "resources/css/guide.css" %}'>
        <link rel="stylesheet" href='{% static "resources/css/onlinetour.css" %}'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    </head>
    <body>
        <a class="online-btn" href="/"><i class="fa fa-arrow-left"></i></a>
        <div class="container">
            <div class="top-section">
                <img class="fit-picture"  src='{% static "resources/G-images/21.jpg" %}' alt="zoo photo1">
                <audio controls src='{% static "resources/audio1/21.aac"%}'>Your browser does not support the<code>audio</code> element.</audio>
                <h1>Chamundi Hills - </h1>
                <p>
                    In India, just as a person’s name usually has a symbolic meaning, names given to places also have a meaning behind them. Chamundi Hills in Karnataka are named after the Goddess Chamundeshwari.
                </p>
            </div>
            <div class="timeline">
                <div class="line"></div>
                <div class="section">
                    <div class="bead"></div>
                    <div class="content">
                        <img class="fit-picture"  src='{% static "resources/G-images/20.jpg" %}' alt="zoo photo1">
                        <audio controls src='{% static "resources/audio1/20.aac"%}'>Your browser does not support the<code>audio</code> element.</audio>
                        <h2>The Chamundeshwari Temple - </h2>
                        <p>
                            The Chamundeshwari Temple is the biggest attraction of this area. This temple sits on the top of the main Hill and can be reached by a series of 1008 stone stairs. The temple houses a statue of Mahishasura with a sword in one hand and a cobra in the other.
A sculpted statue of Chamundeshwari sits in the temple’s sanctum. The Goddess is portrayed in a cross-legged posture with her right heel pressed against the 7th chakra. It is believed that anyone who can master this yogic posture will have a deeper insight into the universe.
                        </p>
                    </div>
                </div>
                <div class="section">
                    <div class="bead"></div>
                    <div class="content">
                        <img class="fit-picture"  src='{% static "resources/G-images/19.jpg" %}' alt="zoo photo1">
                        <audio controls src='{% static "resources/audio1/22.aac"%}'>Your browser does not support the<code>audio</code> element.</audio>
                        <h2>Mahishasura Mardhini Statue - </h2>
                        <p>
                            According to popular legends, many years ago, a buffalo demon named Mahishasura was wreaking havoc in heaven and earth.  He had been gifted a boon by Brahma that he could be killed by no man.
For this reason, Mahishasura was slowly winning every battle he started. The Gods found a loophole to Brahma’s boon and goddess Durga was given divine powers to make her stronger than Mahishasura.
Goddess Chamundeshwari is a form of Durga. With her new powers and a lion as her vehicle, she fought Mahishasur.
                        </p>
                    </div>
                </div>
                <div class="section">
                    <div class="bead"></div>
                    <div class="content">
                        <img class="fit-picture"  src='{% static "resources/G-images/18.jpg" %}' alt="zoo photo1">
                        <audio controls src='{% static "resources/audio1/16.aac"%}'>Your browser does not support the<code>audio</code> element.</audio></pre></h2>
                        <h2>The Nandi Bull - </h2>
                        <p>
                            This is one of the oldest icons of Mysuru. Halfway up the hill is a statue of a bull. This is Nandi, Shiva’s vehicle. The statue is 7.6 m long and 4.9 m tall. It is carved out of single black granite rock. This status was commissioned by Dodda Devaraja Wodeyar and portrays the Nandi bull in a seated position with the left foreleg folded upwards as if the bull were about to get up.
                        </p>
                    </div>
                </div>
                <div class="section">
                    <div class="bead"></div>
                    <div class="content">
                        <img class="fit-picture"  src='{% static "resources/G-images/17.jpg" %}' alt="zoo photo1">
                        <audio controls src='{% static "resources/audio1/14.aac"%}'>Your browser does not support the<code>audio</code> element.</audio>
                        <h2>Mahabaleswara Temple - </h2>
                        <p>
                            This is the oldest temple on the Chamundi hills. It dates back to 950AD. Before the Chamundi temple became popular, the Chamundi hills were called Mahabaladri in honour of this temple.
The temple features workmanship of three dynasties including the Hoysalas and the Cholas. It houses images of the Sapta Matrikas, Parvathi, Nataraja, Bhairava, Bhiikshatana Shiva and Vishnu. It also has statues of Mahishamardhini and Dakshina Murthy.
                        </p>
                    </div>
                </div>
                <div class="section">
                    <div class="bead"></div>
                    <div class="content">
                        <img class="fit-picture"  src='{% static "resources/G-images/16.jpg" %}' alt="zoo photo1">
                        <audio controls src='{% static "resources/audio1/17.aac"%}'>Your browser does not support the<code>audio</code> element.</audio>
                        <h2>Godly Museum - </h2>
                        <p>
The Godly Museum is a divinity themed museum located opposite the Chamundi hills bus stop. It has a series of spiritual paintings on display that stimulates self-introspection.
                        </p>
                    </div>
                </div>
                <div class="section">
                    <div class="bead"></div>
                    <div class="content">
                        <img class="fit-picture"  src='{% static "resources/G-images/15.jpg" %}' alt="zoo photo1">
                        <audio controls src='{% static "resources/audio1/18.aac"%}'>Your browser does not support the<code>audio</code> element.</audio>
                        <h2>Kishkinda Moolika Bonsai Garden - </h2>
                        <p>
                            The Kishkinda Moolika Bonsai Garden has a collection of over 450 miniature trees. It was established in 1986 and is spread over 4 acres. The garden also houses a deer park.
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
        <script src='{% static "resources/js/timeline.js" %}'></script>
    </body>
</html>