{% load static %}
<!DOCTYPE <!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TOURISTS GUIDE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='{% static "resources/css/guide.css" %}'>
    <link rel="stylesheet" href='{% static "resources/css/onlinetour.css" %}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
</head>

<body>
    <a class="online-btn" href="/"><i class="fa fa-arrow-left"></i></a>
    <div class="container">
        <div class="top-section">
            <img class="fit-picture" src='{% static "resources/G-images/7.jpg" %}' alt="zoo photo1">
            <audio controls src='{% static "resources/audio1/11.aac"%}'>Your browser does not support the<code>audio</code> element.</audio>
            <h1>Chamarajendra Zoo - </h1>
            <p>
                Sri Chamarajendra Zoological Gardens, popularly known as 'Mysore Zoo', is one of the oldest zoos
                of the country established in 1892, by his highness, the erstwhile ruler of Mysore Sri Chamarajendra
                Wadiyar Bahadur.
            </p>
        </div>
        <div class="timeline">
            <div class="line"></div>
            <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <audio controls src='{% static "resources/audio1/5.aac"%}'>Your browser does not support the<code>audio</code>
                        element.</audio>
                    <h2>2017 - </h2>
                    <p>
                        Today Mysuru Zoo has 125 years of history and completely Moderninised without shifting the zoo
                        from the
                        original place. Housing more than 1450 specimens belonging to 168 species, representing more
                        than 30 countries.
                    </p>
                </div>
            </div>
            <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <img class="fit-picture" src='{% static "resources/G-images/8.jpg" %}' alt="zoo photo1">
                    <audio controls src='{% static "resources/audio1/26.aac"%}'>Your browser does not support the<code>audio</code>
                        element.</audio>
                    <h2>1984</h2>
                    <p>
                        Launched the animal adoption scheme
                        Koorghali Rescue has been started
                    </p>
                </div>
            </div>
            <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <audio controls src='{% static "resources/audio1/1.aac"%}'>Your browser does not support the<code>audio</code>
                        element.</audio>
                    <h2>1976</h2>
                    <p>Zoo authorities evinced interest and acquired Karanji Lake.</p>
                </div>
            </div>
            <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <img class="fit-picture" src='{% static "resources/G-images/9.jpg" %}' alt="zoo photo1">
                    <audio controls src='{% static "resources/audio1/6.aac"%}'>Your browser does not support the<code>audio</code>
                        element.</audio>
                    <h2>1979</h2>
                    <p>
                        Administration of Mysuru zoo has been transferred to Zoo Authority of Karnataka.</p>
                </div>
            </div>
            <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <img class="fit-picture" src='{% static "resources/G-images/10.jpg" %}' alt="zoo photo1">
                    <audio controls src='{% static "resources/audio1/4.aac"%}'>Your browser does not support the<code>audio</code>
                        element.</audio>
                    <h2>1972</h2>
                    <p>
                        Administration of Mysuru zoo has been transferred to Forest department.</p>
                </div>
            </div>
            <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <img class="fit-picture" src='{% static "resources/G-images/11.jpg" %}' alt="zoo photo1">
                    <audio controls src='{% static "resources/audio1/25.aac"%}'>Your browser does not support the<code>audio</code>
                        element.</audio>
                    <h2>1907</h2>
                    <p>
                        For the first time large-ape enclosures were built in the country at Mysuru zoo.</p>
                </div>
            </div>
            <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <audio controls src='{% static "resources/audio1/27.aac"%}'>Your browser does not support the<code>audio</code>
                        element.</audio>
                    <h2>1892</h2>
                    <p>
                        Established with 10.9 acres area.</p>
                </div>
            </div>
        </div>
    </div>
    <script src='{% static "resources/js/timeline.js" %}'></script>
</body>

</html>