
{% load static %}
<html>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'resources/css/dev2.css' %}" rel="stylesheet">
<link href="{% static 'resources/css/dev6.css' %}" rel="stylesheet">
<div class="animateme">
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<div class="person">
  <div class="person-badge">
    
    <img class="normal" src='{% static "resources/images/p1-removebg-preview.png" %}'>
    <img class="peculiar" src='{% static "resources/images/p2-removebg-preview.png" %}'>
  </div>
    <br />
    <br />
  <h3>Miss Priyanka Salunke</h3>
  <strong class="black">Team Lead/Web Developer</strong>
  <div>
      Sophomore at Modern Education Society's College Of Engineering Pune.
      
  </div>
</div>


<div class="person">
  <div class="person-badge">
    <img class="normal" src='{% static "resources/images/k1-removebg-preview.png" %}'>
    <img class="peculiar" src='{% static "resources/images/k2-removebg-preview.png" %}'>
  </div>
    <br />
    
  <h3>Mr. Kundan Surve</h3>
  <strong class="black">Software Developer</strong>
  <div>
      An innovative Software developer,making great things possible,with experience as Developer at DSC MESCOE,having achievements in CP Contests.
  </div>
</div>


<div class="person">
  <div class="person-badge">
    <img class="normal" src='{% static "resources/images/v2.png" %}'>
    <img class="peculiar" src='{% static "resources/images/v22-removebg-preview.png" %}'>
  </div>
    <br />
   
  <h3>Mr. Vaibhav Bhapkar</h3>
  <strong class="black">Web Developer</strong>
  <div>
     A Web developer from Pune,who like to explore new technologies.Mostly focused on building quality websites and applications with front-end HTML,CSS, JS and back-end Nodejs, django.
  </div>
</div>

<div class="person">
  <div class="person-badge">
    <img class="normal" src='{% static "resources/images/g1-removebg-preview.png" %}'>
    <img class="peculiar" src='{% static "resources/images/g2-removebg-preview.png" %}'>
  </div>
    <br />
    
  <h3>Mr. Gaurav Kulkarni</h3>
  <strong class="black">Full Stack Developer</strong>
  <div>
    A passionate coder,fantastic troubleshooter,and enthusiastic Software Developer who has good record of developing,implementing and testing software to meet specific project requirements.
  </div>
</div>
<br><br><br>

</html>