{% load static %}
<!DOCTYPE <!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TOURISTS GUIDE</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href='{% static "resources/css/guide.css" %}'>
        <link rel="stylesheet" href='{% static "resources/css/onlinetour.css" %}'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    </head>
    <body>
        <a class="online-btn" href="/"><i class="fa fa-arrow-left"></i></a>
        <div class="container">
            <div class="top-section">
                <img class="fit-picture"  src='{% static "resources/G-images/6.jpg" %}' alt="zoo photo1">
                <audio controls src="audio1/24.aac">Your browser does not support the<code>audio</code> element.</audio>
                <h1>MYSORE PALACE</h1>
                <p>
                    The current Mysuru Palace –
                     was designed by the British architect Henry Irwin after its 
                     predecessor was destroyed in a fire in 1897. The imposing 
                     building that stands today was completed in 1912, but it 
                     is believed that a Mysuru Palace was established as part 
                     of a wooden fortress, by the royal family of Mysuru, the 
                     Wodeyars, as early as the fourteenth century.
                </p>
            </div>
            <div class="timeline">
                <div class="line"></div>
                <div class="section">
                    <div class="bead"></div>
                    <div class="content">
                        <img class="fit-picture"  src='{% static "resources/G-images/5.jpg" %}' alt="zoo photo1">
                        <audio controls src='{% static "resources/audio1/23.aac"%}'>Your browser does not support the<code>audio</code> element.</audio>
                        <h2>Royal Entrance Gate -</h2>
                        <p>
                            Welcome to the Royal Splendour of Mysuru, the home of the Wodyers who ruled Mysuru for more than 500 years, known as the City of Palaces, Mysuru retains a quaint charm, that never fails to enchant.
                            the Wodyer dynasty was established – a succession of 24 kings who ruled until 1947, when Mysuru became part of the Indian Union. The Wodeyars were great patrons of the arts, and the finest craftsmen in the state were employed to work on the Palaces. Wodeyars period was a new era of prose literature as
                            an independent literary medium.
                        </p>
                    </div>
                </div>
                <div class="section">
                    <div class="bead"></div>
                    <div class="content">
                        <audio controls src='{% static "resources/audio1/9.aac"%}'>Your browser does not support the<code>audio</code> element.</audio>
                        <h2>Kodi Bharravasvami Temple -</h2>
                        <p>
                            dedicated to Shiva in the form of Bhairava derives its name because of its location in the past. 
                            Sri Lakshmiramana Swami Temple – Oldest temple in the city. Located towards the western part of the fort, 
                            inside the Palace. An inscription found in Cole’s Gardens (present day Bannimantap) registers a Grant for God 
                            Lakshmiramana in 1499 AD. According to the annals of the Mysuru Royal Family, a half blind Brahim was cured his
                             blindness around the year 1599 at the interposi
                        </p>
                    </div>
                </div>
                <div class="section">
                    <div class="bead"></div>
                    <div class="content">
                        <img class="fit-picture"  src='{% static "resources/G-images/4.jpg" %}' alt="zoo photo1">
                        <audio controls src='{% static "resources/audio1/3.aac"%}'>Your browser does not support the<code>audio</code> element.</audio></pre></h2>
                        <h2>Sri Shweta Varahaswamy Temple - </h2>
                        <p>
                            Located beside the south gate. It’s constructed in the famous style of the great Hoysala Empire, which controlled 
                            most of Karnataka from the tenth until the fourteenth centuries.
                        </p>
                    </div>
                </div>
                <div class="section">
                    <div class="bead"></div>
                    <div class="content">
                        <img class="fit-picture"  src='{% static "resources/G-images/3.jpg" %}' alt="zoo photo1">
                        <audio controls src='{% static "resources/audio1/8.aac"%}'>Your browser does not support the<code>audio</code> element.</audio></pre></h2>
                        <h2>Sri Trinayaneshvara Swami Temple – </h2>
                        <p>
                            Ancient temple which existed even before the time of Raja Wadiyar, located outside the Original Mysuru fort, on the bank of Devaraya Sagar (Doddakere). It was during the time of Kanthirava Narasaraja Wadiyar and his successor Dodda Devaraja Wadiyar that the fort was enlarged and the Trinayaneshvara temple came within the fort.
                        </p>
                    </div>
                </div>
                <div class="section">
                    <div class="bead"></div>
                    <div class="content">
                        <img class="fit-picture"  src='{% static "resources/G-images/2.jpg" %}' alt="zoo photo1">
                        <audio controls src='{% static "resources/audio1/12.aac"%}'>Your browser does not support the<code>audio</code> element.</audio></pre></h2>
                        <h2>Sri Prasanna Krishanswami temple – </h2>
                        <p>
                            The Mysuru dynasty claims its descent from Yadu Vamsa (Yadu Race) founded by Sri Krishna of Mahabharata. 
                            Therefore, Krishnaraja Wadiyar III felt sad that there was no temple dedicated to Krishna. To fulfil this 
                            lacuna, he started the construction of Sri Prasanna Krishna Temple in 1825 and according to inscription, it
                             was completed in 1829.
                        </p>
                    </div>
                </div>
                <div class="section">
                    <div class="bead"></div>
                    <div class="content">
                        <img class="fit-picture"  src='{% static "resources/G-images/1.jpg" %}' alt="zoo photo1">
                        <audio controls src='{% static "resources/audio1/7.aac"%}'>Your browser does not support the<code>audio</code> element.</audio>
                        <h2>Sri Bhuvaneshwari Temple – </h2>
                        <p>
                            located on northern side of the Palace Fort corresponding to the Varahaswamy temple in the south, thus providing a 
                            symmetrical structure in the fort complex. Constructed by Sri Jayachamarajendra Wadiyar in the year 1951. One of the 
                            important objects in the temple is a copper Surya Mandala which is said to have been transferred from the Palace to
                             this temple by His Highness Jayachamarajendra Wadiyar.
                        </p>
                    </div>
                </div>
                <div class="section">
                    <div class="bead"></div>
                    <div class="content">
                        <audio controls src='{% static "resources/audio1/2.aac"%}'>Your browser does not support the<code>audio</code> element.</audio></pre></h2>
                        <h2>Sri Gayatri Temple – </h2>
                        <p>
                            located in the south-east corner of the fort directly corresponding to the Trinayaneshara swamy temple constructed 
                            by Jayachamarajendra Wadiyar in 1953. Three shrines dedicated to Savithri, Gayathri and Saraswathi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <script src='{% static "resources/js/timeline.js" %}'></script>
    </body>
</html>